<%- include('partials/header') %>
<section class="home-page">
	<span class="tx-sm">Recetas de cocina</span>
	<h1 class="tx-xl">Chef's Notebook</h1>
	<p class="tx-sm">Registra tus experiencias culinarias</p>
</section>
<section class="content">
	<article id="options">
		<h1>Opciones</h1>
		<section id="container-relative">
			<a id="button-corner" href="/recipe/add">
				<i class="fa-solid fa-plus"></i>
			</a>
			<div class="card flex-column">
				<h2 class="bg-sec-brown tx-sm top-card">Añadir receta</h2>
				<div class="bg-sec-white flex-column bottom-card align-center">
					<p class="tx-sm">
						Haz click en el botón para añadir una nueva receta
					</p>
					<img
						id="add-recipe-img"
						src="https://static.vecteezy.com/system/resources/previews/021/952/528/non_2x/delicious-cobb-salad-cobb-salad-image-tomatoes-bacon-hard-boiled-eggs-blue-cheese-png.png"
						alt="plato-comida"
					/>
				</div>
			</div>
		</section>

		<div id="recipes-count" class="card flex-column">
			<h2 class="bg-pr-green tx-sm top-card">Recetas totales</h2>
			<div class="bg-sec-white flex-row flex-row bottom-card align-center">
				<p class="tx-sm"><%= recipes.length > 0 ? recipes.length : 0 %> Recetas registradas</p>
			</div>
		</div>
	</article>
	<article id="favorites" >
        <h1>Favoritos</h1>
            <%- include('partials/favorites', { favorites })%>
    </article>
	<article id="recipes" class="flex-column">
		<h1>Recetas</h1>
		<div id="list-recipes" class="card flex-column grow">
			<div class="bg-sec-brown tx-sm top-card flex-row">
				<input
					type="search"
					class="grow tx-xs tx-bold"
					name="search-recipe"
					id="search-recipe"
					placeholder="Qué comemos hoy?"
                    oninput="filterRecipes()"
				/>
            </div>
            <!-- TODO - Add pagination and remote style on component -->
			<div style="overflow: auto;" id="list-recipe-container" class="bg-sec-white h-100">
				<%- include('partials/list-recipes', { recipes })%>
			</div>
		</div>
	</article>
</section>
<script>
    function filterRecipes() {
        const searchInput = document.getElementById('search-recipe').value.toLowerCase();
        const recipes = document.querySelectorAll('#row-recipe');

        recipes.forEach(recipe => {
        const recipeName = recipe.getAttribute('data-name').toLowerCase();
        if (recipeName.includes(searchInput)) {
            recipe.style.display = '';
        } else {
            recipe.style.display = 'none';
        }
    });
    }
</script>
<%- include('partials/footer') %>
