<%- include('partials/header') %>

<section id="grid-recipe">
    <section id="recipe-img">
        <% if (!recipe.img) { %>
            <img src="https://freerangestock.com/sample/11197/empty-plate.jpg" class="w-100 h-100" alt="<%= recipe.name%>">
        <% } else { %>
            <img src="<%= recipe.img%>" class="w-100 h-100" alt="<%= recipe.name%>">
        <% } %>
    </section>

    <section id="recipe-ingredients" class="w-100 h-100 bg-sec-white">
        <h2>Ingredientes</h2>
        <p><%= recipe.ingredientes%></p>
    </section>

    <section id="cooking_time" class="w-100 h-100 bg-sec-white">
        <h2>Tiempo estimado</h2>
        <span><%= recipe.cooking_time %></span>
    </section>

    <section id="recipe-options" class="w-100 h-100 bg-sec-white">
        <a href="recipe/update?id=<%= recipe.id%>" class="button secondary"><span>Editar receta</span></a>
        <a href="" class="button delete"><span>Borrar receta</span></a>
    </section>

    <section id="recipe-steps" class="w-100 h-100 bg-sec-white">
        <h2><%= recipe.name %></h2>
        <h2>Procedimiento</h2>
        <p><%= recipe.steps %></p>
    </section>
</section>

<%- include('partials/footer') %>