<section id="fav-carrousel" class="flex-row h-100">
    <% if(recipes.length > 0) { %> 
        <% recipes.forEach((recipe) => { %> 
            <%if(recipes) { %>
                <div class="flex-column carrousel-card card bg-sec-white h-100">
                    <img class="img-fav-card" src="<%= recipe.img %>" alt="<%= recipe.name %>" />
                    <h3 class="tx-sm"><%= recipe.name %></h3>
                    <p class="tx-xs"><%= recipe.description %></p>
                    <span class="tx-xs bold"><%= recipe.cooking_time %></span>
                </div>
            <% } %> 
        <% }) %> 
    <% } else { %>
        <p class="tx-sm">No hay recetas registradas</p>
    <% } %>
</section>